<div class="divIntro">
    <div style="margin: 0px 20% 0px 25%; top:63px; position:absolute; width: 50%;">
        <div id="about">
            <div class="divBox">
                <h1>Autores</h1>
                <p>
                    Este proyecto es el Trabajo de Fin de Grado del Grado de Ingeniería informatica, desarrollado por <a href="https://andres-chaparro-diaz.github.io/" target="_blank"> Andrés Chaparro Díaz</a> y tutorizado por los profesores de la universidad:
                </p>
                <ul>
                    <div style="display:flex ;">
                        <div style="margin-right:20%; margin-left:10%">
                            <li class="controles">
                                <span>Ramón Hervás Lucas</span>
                            </li>
                            <li class="controles">
                                <span>Luis Cabañero Gómez</span>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="divBox">
                <h1>Webgrafía</h1>
                <p>
                    Este proyecto ha utilizado imágenes y sonidos de las siguientes páginas web:
                </p>
                <ul>
                    <div style="display:flex ;">
                        <div style="margin-right:20%; margin-left:10%">
                            <li class="controles">
                                <a href="https://sfx.freeaudiolibrary.com/">Efectos de sonido </a>
                            </li>
                            <li class="controles">
                                <a href="https://www.flaticon.es/packs/smileys-3" title="enfermo iconos">Flaticon, imágenes emociones</a>

                            </li>

                            <li class="controles">
                                <a href="https://www.flaticon.com/free-icons/hearth" title="hearth icons">Flaticon, vidas en el juego</a>
                            </li>


                            <li class="controles">
                                <a href="http://phaser.io/tutorials/making-your-first-phaser-3-game-spanish/index">Personajes de Phaser</a>
                            </li>

                            <li class="controles">
                                <a href="https://pzuh.itch.io/free-winter-platformer-tileset">Paquete de assets</a>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>

        </div>
    </div>
</div>