<div class="divIntro">
    <div style="margin: 0px 20% 0px 25%; top:63px; position:absolute; width: 50%;">
        <div id="about">
            <h1>Autores</h1>
            <p>
                Este proyecto es el Trabajo de Fin de Grado del Grado de Ingeniería informatica, desarrollado por <a href="https://andres-chaparro-diaz.github.io/" target="_blank"> Andrés Chaparro Díaz</a> y tutorizado por los profesores de la universidad:
            </p>
            <ul>
                <div style="display:flex ;">
                    <div style="margin-right:20%; margin-left:10%">
                        <li class="controles">
                            <span>Ramón Hervás Lucas</span>
                        </li>
                        <li class="controles">
                            <span>Luis Cabañero Gómez</span>
                        </li>
                    </div>
                </div>
            </ul>


        </div>
    </div>
    <!--Iconos de <a href="https://www.flaticon.es/iconos-gratis/flecha" title="flecha iconos">Flecha iconos creados por usdesign12 - Flaticon</a>-->
</div>