<div class="divRegister" style="position: absolute; left: 35%;">
    <div id="content" role="main">
        <div class="borderRegister" id="box-register">
            <h1>Recuperar Contraseña</h1>
            <div>
                <div class="divInput">
                    <label>Usuario:</label><br>
                    <input id="tbUsuario" type="text" placeholder="Nombre de usuario" data-bind="value : userName"><br>
                </div>

                <div class="divInput">
                    <label>Nueva Contraseña:</label><br>
                    <input id="tbPwd" type="password" placeholder="Contraseña"> <br>
                </div>

                <div class="divInput">
                    <label>Repita la contraseña:</label><br>
                    <input id="tbPwd2" type="password" placeholder="Repita contraseña"><br>
                </div>

                <div class="divInput" style=" display: block;">
                    <label>Escriba el código enviado en el mail enviado previamente:</label><br>
                    <input id="tbCodigo" type="text" placeholder="Codigo"><br>
                </div>


                <button id="btnCambiarPass">Cambiar contraseña</button>
                <br><br><br>
                <div id="message" style="color : blue">
                </div>
                <div id="error" style="color : red">
                </div>
            </div>
        </div>
    </div>
</div>