<div class="divSurvey">

    <div role="main" class="form-all" style="margin:0 auto;">
        <ul class="form-section page-section">
            <li id="cid_1" class="form-input-wide" data-type="control_head">
                <div class="form-header-group header-defecto">
                    <div class="header-text httal htvam">
                        <h2 id="header_1" class="form-header" data-component="header">Cuestionario Emocional</h2>
                    </div>
                </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_3">
                <label class="form-label form-label-top form-label-auto" id="label_3" for="input_3"> 
                    <script>
                        if(sessionStorage.getItem("username") != null && sessionStorage.getItem("username") != ""){
                            document.getElementById("label_3").textContent = sessionStorage.getItem("username");
                        }else{
                            document.getElementById("label_3").textContent  = "LINEA 72 HTML REVISAR IF";
                        }
                    </script>    
                </label>
            </li>

            <li class="form-line" data-type="control_textarea" id="id_17"><label class="form-label form-label-top form-label-auto form-label-player" id="label_17" for="input_18"> Estas motivado para jugar  </label>
                <div id="cid_17" class="form-input-wide">
                    <select id="motivado">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5" selected>5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8" >8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                </select>
                </div>
            </li>
            <li class="form-line" data-type="control_textarea" id="id_14"><label class="form-label form-label-top form-label-auto form-label-player">Estado emocional:</li>
            <section class="splide" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide" style="align-items:center ;"><img src="/assets/enfermo.png" alt="" style="width: 150px; height:150px ;"></li>
                        <li class="splide__slide" style="align-items:center ;"><img src="/assets/triste.png" alt="" style="width: 150px; height:150px ;"></li>
                        <li class="splide__slide" style="align-items:center ;"><img src="/assets/asustado.png" alt="" style="width: 150px; height:150px ;"></li>
                        <li class="splide__slide" style="align-items:center ;"><img src="/assets/enfadado.png" alt="" style="width: 150px; height:150px ;"></li>
                        <li class="splide__slide" style="align-items:center ;"><img src="/assets/normal.png" alt="" style="width: 150px; height:150px ;"></li>
                        <li class="splide__slide" style="align-items:center ;"><img src="/assets/sorprendido.png" alt="" style="width: 150px; height:150px ;"></li>
                        <li class="splide__slide" style="align-items:center ;"><img src="/assets/feliz.png" alt="" style="width: 150px; height:150px ;"></li>

                    </ul>
                </div>
            </section>
            <li class="form-line" data-type="control_button" id="id_2">

                <div style="margin-left:156px" class="form-buttons-wrapper form-buttons-auto jsTest-button-wrapperField">
                    <button id="btnSend" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">Enviar</button>
                </div>

            </li>
        </ul>
        <div style="margin-bottom: 4%; font-size: 20px; margin-left: 4%;">
            <div id="message" style="color : blue">
            </div>
            <div id="error" style="color : red">
            </div>
        </div>

    </div>
</div>