<div class="divSurvey">
    <div role="main" class="form-all" style="margin:0 auto;">
        <ul class="form-section page-section">
            <li id="cid_1" class="form-input-wide" data-type="control_head">
                <div class="form-header-group header-defecto">
                    <div class="header-text httal htvam">
                        <h2 id="header_1" class="form-header" data-component="header">Ingreso al Estudio</h2>
                    </div>
                </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_3">
                <label class="form-label form-label-top form-label-auto" id="label_3" for="input_3"> 
                    <script>
                        if(sessionStorage.getItem("username") != null && sessionStorage.getItem("username") != ""){
                            document.getElementById("label_3").textContent = sessionStorage.getItem("username");
                        }else{
                            window.location.href = 'index.html#login';
                            return;
                        }
                    </script>    
                </label>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_5"><label class="form-label form-label-top form-label-auto" id="label_5" for="input_5"> Edad </label>
                <div id="cid_5" class="form-input-wide">
                    <input type="text" id="input_5" name="q2_edad" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="20" value="" placeholder=" " data-component="textbox" aria-labelledby="label_5">
                </div>
            </li>

            <li class="form-line" data-type="control_matrix" id="id_13"><label class="form-label form-label-top" id="label_13" for="input_13"> ¿Cuál es su opinión sobre los siguientes aspectos? </label>
                <div id="cid_13" class="form-input-wide">
                    <table summary="" aria-labelledby="label_13" cellpadding="4" cellspacing="0" class="form-matrix-table" data-component="matrix">
                        <tbody>
                            <tr class="form-matrix-tr form-matrix-header-tr">
                                <th class="form-matrix-th" style="border:none">&nbsp;</th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_0"><label id="label_13_col_0"> Totalmente desacuerdo </label></th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1"><label id="label_13_col_1"> En desacuerdo</label></th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_2"><label id="label_13_col_2"> Ni de acuerdo ni desacuerdo </label></th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_3"><label id="label_13_col_3"> De acuerdo </label></th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_4"><label id="label_13_col_4"> Totalmente de acuerdo </label></th>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_13 label_13_row_0">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_13_row_0"> Juegas mucho a videejuegos  </label></th>
                                <td class="form-matrix-values"><input type="radio" id="input_13_0_0" class="form-radio" name="preguntas[0]" value="Malo" aria-labelledby="label_13_col_0 label_13_row_0"><label for="input_13_0_0" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_0_1" class="form-radio" name="preguntas[0]" value="Regular" aria-labelledby="label_13_col_1 label_13_row_0"><label for="input_13_0_1" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_0_2" class="form-radio" name="preguntas[0]" value="Bueno " aria-labelledby="label_13_col_2 label_13_row_0"><label for="input_13_0_2" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_0_3" class="form-radio" name="preguntas[0]" value="Muy Bueno" aria-labelledby="label_13_col_3 label_13_row_0"><label for="input_13_0_3" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_0_4" class="form-radio" name="preguntas[0]" value="Excelente" aria-labelledby="label_13_col_4 label_13_row_0"><label for="input_13_0_4" class="matrix-choice-label matrix-radio-label"> </label></td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_13 label_13_row_1">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_13_row_1">Tienes buen nivel jugando a videojuegos  </label></th>
                                <td class="form-matrix-values"><input type="radio" id="input_13_1_0" class="form-radio" name="preguntas[1]" value="Malo" aria-labelledby="label_13_col_0 label_13_row_1"><label for="input_13_1_0" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_1_1" class="form-radio" name="preguntas[1]" value="Regular" aria-labelledby="label_13_col_1 label_13_row_1"><label for="input_13_1_1" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_1_2" class="form-radio" name="preguntas[1]" value="Bueno " aria-labelledby="label_13_col_2 label_13_row_1"><label for="input_13_1_2" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_1_3" class="form-radio" name="preguntas[1]" value="Muy Bueno" aria-labelledby="label_13_col_3 label_13_row_1"><label for="input_13_1_3" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_1_4" class="form-radio" name="preguntas[1]" value="Excelente" aria-labelledby="label_13_col_4 label_13_row_1"><label for="input_13_1_4" class="matrix-choice-label matrix-radio-label"> </label></td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_13 label_13_row_2">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_13_row_2"> Se te da bien hacer varias cosas a la vez  </label></th>
                                <td class="form-matrix-values"><input type="radio" id="input_13_2_0" class="form-radio" name="preguntas[2]" value="Malo" aria-labelledby="label_13_col_0 label_13_row_2"><label for="input_13_2_0" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_2_1" class="form-radio" name="preguntas[2]" value="Regular" aria-labelledby="label_13_col_1 label_13_row_2"><label for="input_13_2_1" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_2_2" class="form-radio" name="preguntas[2]" value="Bueno " aria-labelledby="label_13_col_2 label_13_row_2"><label for="input_13_2_2" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_2_3" class="form-radio" name="preguntas[2]" value="Muy Bueno" aria-labelledby="label_13_col_3 label_13_row_2"><label for="input_13_2_3" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_2_4" class="form-radio" name="preguntas[2]" value="Excelente" aria-labelledby="label_13_col_4 label_13_row_2"><label for="input_13_2_4" class="matrix-choice-label matrix-radio-label"> </label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li class="form-line" data-type="control_textarea" id="id_17">
                <label class="form-label form-label-top form-label-auto" id="label_17" for="input_17"> ¿Te interesa participar en un estudio? Solo debe jugar al menos 2 partidas al dia, en diferentes horarios durante 7 días, después se mostrará un cuestionario muy breve al que agradecería que respondiese.</label>
                <div id="cid_17" class="form-input-wide">
                    <label>
                        <input type="checkbox" class="chbxParticipa" name= "participa" id="cbox1" value="true"> Participar
                    </label>
                    <br></div>
            </li>
            <li class="form-line" data-type="control_button" id="id_2">

                <div style="margin-left:156px" class="form-buttons-wrapper form-buttons-auto jsTest-button-wrapperField">
                    <button id="btnSend" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">Enviar</button>
                </div>

            </li>
        </ul>
        <div style="margin-bottom: 4%; font-size: 20px; margin-left: 4%;">
            <div id="message" style="color : blue">
            </div>
            <div id="error" style="color : red">
            </div>
        </div>

    </div>

</div>