<div class="divIntro">
    <div style="margin: 0px 20% 0px 25%; top:63px; position:absolute; width: 50%;">
        <div id="Introduccion">
            <div class="divBox">
                <h1>Introduccion al Estudio</h1>
                <p>Este juego consiste en esquivar los obstaculos de forma simultanea para evitar que ninguno de nuestros jugadores sea golpeado. Se tienen 3 vidas por partida, cada golpe con un obstáculo resta una, cuando se pierden las 3 vidas, se termina
                    la partida.
                </p>
            </div>

            <div class="divBox">
                <h2>Instrucciones</h2>
                <p>Los jugadores solo pueden realizar saltos, aunque pueden realizar saltos largos o dobles saltos, incluso si se optimiza bien el tiempo que se pulsa las teclas de salto, se pueden realizar triples saltos.</p>
            </div>

            <div class="divBox" style="margin-top: -3%;">
                <ul>
                    <h2 style="margin-bottom:3% ;">Teclas:</h2>
                    <div style="display:flex ;">
                        <div style="margin-right:20%; margin-left:10%">
                            <li class="controles">
                                <span>P1: Q</span>
                            </li>
                            <li class="controles">
                                <span>P2:  S</span>
                            </li>
                        </div>
                        <div>
                            <li class="controles">
                                <span>P3:  P</span>
                            </li>
                            <li class="controles">
                                <span>P4:  L</span>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>


        </div>
    </div>
</div>