<div class="divIntro">
    <div style="margin: 0px 20% 0px 25%; top:63px; position:absolute; width: 50%;">
        <div id="Introduccion">
            <div class="divBox">
                <h1>Introduccion al Estudio</h1>
                <p>Bienvenido a este estudio que forma parte del Trabajo Fin de Grado de Andrés Chaparro Díaz.</p>
                <p>El TFG consiste en un videojuego endless-runner cuya dificultad va aumentando al tener que manejar dos, tres y hasta cuatro personajes a la vez. El tiempo que aguantes vivo en cada partida y los diamantes que consigas coger determinarán
                    tu puntuación. Podrás comparte con otros participantes a través del Ranking.</p>
            </div>

            <div class="divBox">
                <h3>Lo que necesitamos que hagas es lo siguiente:</h3>
                <ul>
                    <li>
                        <p>Necesitaremos que juegues dos veces al día al videojuego, y en cada una de estas dos sesiones, juegues al menos una partida (no te llevará más de 5 minutos, salvo que seas un/a crack 😋). Tras esas partidas te haremos dos preguntas
                            sobre motivación y estado emocional, que debes contestar en cada sesión de juego. Necesitamos que hagas esto durante 7 días.</p>
                    </li>
                    <li>
                        <p>Por favor ponte ahora dos alarmas en el móvil, separadas al menos 3 horas, para acordarte de jugar esas dos partidas diarias. Elije horarios en los que creas que puedas estar disponible y con el ordenador a mano. Si por cualquier
                            razón cambias de horario de juego, no pasa nada. Si un día no puedes cumplir las dos sesiones, tampoco pasa nada, pero intenta tener 7 días con al menos una sesión de juego, aunque no sean consecutivos.</p>
                    </li>
                    <li>
                        <p>Para iniciar todo, ahora necesitamos que juegues 5 partidas y después aparecerá una breve encuesta sobre qué te ha parecido el juego. Una vez que lo completes, juega durante una semana cómo te hemos comentado en los puntos 1 y
                            2.
                        </p>
                    </li>
                </ul>
                <p>¡¡Muchas gracias!!</p>
            </div>
        </div>
    </div>
</div>