<div class="divIntro">
    <div style="margin: 0px 20% 0px 25%; top:63px; position:absolute; width: 50%;">
        <div id="Introduccion">
            <h1>Introduccion</h1>
            <p>Este juego consiste en esquivar los obstaculos de forma simultanea para evitar que ninguno de nuestros personajes sea golpeado. Si alguno recibe un golpe se acaba el juego.
            </p>
            <h2>Controles:</h2>
            <p>Los personajes solo pueden realizar saltos, aunque pueden realizar saltos largos o dobles saltos. Los saltos son asincronos</p>
            <img src="assets/Leyenda.PNG" alt="" style="width: 100%; height: 50%; margin-top: 3%;margin-bottom: 3%;">
            <ul>
                <h2 style="margin-bottom:3% ;">Teclas:</h2>
                <div style="display:flex ;">
                    <div style="margin-right:20%; margin-left:10%">
                        <li class="controles">
                            <span>P1: Q</span>
                        </li>
                        <li class="controles">
                            <span>P2:  D</span>
                        </li>
                    </div>
                    <div>
                        <li class="controles">
                            <span>P3:  P</span>
                        </li>
                        <li class="controles">
                            <span>P4:  L</span>
                        </li>
                    </div>
                </div>
            </ul>

        </div>
    </div>
    <!--Iconos de <a href="https://www.flaticon.es/iconos-gratis/flecha" title="flecha iconos">Flecha iconos creados por usdesign12 - Flaticon</a>-->
</div>