<div class="divLogin" style=" top: 10%; position: absolute; left: 40%;">
    <div id="content" role="main">
        <div>
            <h1>Iniciar sesión</h1>
            <div>
                <div style="max-width: 308px;">
                    <div>
                        <span>Usuario:</span><br>
                        <input id="tbUsuario" type="text" placeholder="Nombre de usuario">
                    </div>
                    <div>
                        <span>Contraseña:</span><br>
                        <input id="tbPwd" type="password" placeholder="Contraseña">
                    </div>
                    <div>
                        <button id="entrar">Entrar</button>
                    </div>

                    <div id="message" style="color : blue">
                    </div>
                    <div id="error" style="color : red">
                    </div>
                </div>
                <br>
                <div style="max-width: 308px;">
                    <div>
                        <a id="changePwd" href="">Recuperar contraseña</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>