<div class="divLogin" style="position: absolute; left: 35%;">
    <div id="content" role="main">
        <div class="borderLogin">
            <h1>Iniciar sesión</h1>
            <div>
                <div>
                    <div class="divInput">
                        <label>Usuario:</label><br>
                        <input id="tbUsuario" type="text" placeholder="Nombre de usuario">
                    </div>
                    <div class="divInput">
                        <label>Contraseña:</label><br>
                        <input id="tbPwd" type="password" placeholder="Contraseña">
                    </div>
                    <div>
                        <button id="entrar">Entrar</button>
                    </div>

                    <div id="message" style="color : blue">
                    </div>
                    <div id="error" style="color : red">
                    </div>
                </div>
                <br>
                <div style="max-width: 308px;">
                    <div>
                        <a id="changePwd" href="#login">Recuperar contraseña</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>