<div class="divGame">
    <div id="game" style=" position: absolute;">

    </div>
    <div style="top: 83px; position: absolute;">
        <span style="width: 50%; margin: 100px;">Puntuación: </span>
        <span id="spPuntuacion" style="width: 50%;">"Puntos"</span>
    </div>
    <div id="lifes" style="top: 83px; left: 600px; position: absolute; display:flex">
        <img id="life1" src="/phaser/tutorial/TFG/cliente/assets/like.png" alt="">
        <img id="life2" src="/phaser/tutorial/TFG/cliente/assets/like.png" alt="">
        <img id="life3" src="/phaser/tutorial/TFG/cliente/assets/like.png" alt="">
    </div>

    <hr style="position: absolute; margin-left: 49px; top: 19%; border:none; border-left:1px solid hsla(200, 10%, 50%,100); height: 1px;width: 1600px; color: black; background-color: black;">
    <hr style="position: absolute; left:40.2%; top: 80px; border:none; border-left:1px solid hsla(200, 10%, 50%,100); height:600px; width:1px; background-color: black; color: black;">
    <div id="message" style="color : blue">
    </div>
    <div id="error" style="color : red">
    </div>
</div>