<h1>Politica de privacidad:</h1>
<p> El acceso a esta web implica la aceptación de las presentes condiciones generales de uso disponibles en esta web:</p>
<h2>Términos de uso:</h2>
<p>El usuario se compromete a no utilizar el sitio web y los servicios que se ofrecen a través de él para la realización de actividades contrarias a la ley o que puedan producir en el sitio web,
    o a través del mismo por cualquier medio.
</p>
<p>Los contenidos, textos e imágenes, ofrecidos en la web solo tienen carácter informativo o divulgativo, sin ánimo de lucro, comprometiéndose el usuario a no utilizarlos con fines comerciales.
</p>
<p>El propietario de la web no se responsabiliza sobre el contenido de los sitios de internet que se enlazan desde la web, ya que no tiene ningún tipo de control sobre dichos sitios y sus contenidos.
</p>
<p>El propietario de la web se reserva la facultad de efectuar, en cualquier momento y sin necesidad de preaviso alguno, cualquier modificación o actualización de los contenidos y servicios, de las condiciones generales y, en general, de cuantos elementos
    integren el diseño y la configuración de su página web.
</p>
<p>
    El propietario de la web no se responsabiliza de los fallos que pudieran ocurrir en el funcionamiento del sitio o servicios ofrecidos a causa de fuerza mayor o circunstancias accidentales sobrevenidas, en los supuestos de paradas de mantenimiento, o en
    cualquier otro caso no imputable al propietario de la web. Tampoco se hace responsable por los daños que pudieran ocurrir causados por virus informáticos o programas maliciosos, cuya ausencia no se pueda garantizar, aunque se adoptaran medidas técnicas.
</p>
<p>
    El propietario de la web se reserva el derecho a denegar el acceso en caso de que se incumplan las condiciones del uso del servicio.
</p>