<div class="divIntro">
    <div style="margin: 0px 20% 0px 25%; top:63px; position:absolute; width: 50%;">
        <div id="Introduccion">

            <div class="divBox">
                <h1>Política de privacidad</h1>
                <p>El sitio web https://gameandreschaparro.vercel.app/ es propiedad de Andrés Chaparro Díaz, que es el responsable del tratamiento de sus datos personales.</p>
                <p>Hemos adoptado esta Política de Privacidad, que determina cómo tratamos la información recogida por https://gameandreschaparro.vercel.app/, que también proporciona las razones por las que debemos recoger ciertos datos personales sobre
                    usted. Por lo tanto, debe leer esta Política de Privacidad antes de utilizar este sitio web.</p>

                <p>Cuidamos sus datos personales y nos comprometemos a garantizar su confidencialidad y seguridad.</p>

                <p> El acceso a esta web implica la aceptación de las presentes condiciones generales de uso disponibles en esta web:</p>
            </div>

            <div class="divBox">
                <h2>Términos de uso:</h2>
                <p>El usuario se compromete a no utilizar el sitio web y los servicios que se ofrecen a través de él para la realización de actividades contrarias a la ley o que puedan producir en el sitio web, o a través del mismo por cualquier medio.
                </p>
                <p>Los contenidos, textos e imágenes, ofrecidos en la web solo tienen carácter informativo o divulgativo, sin ánimo de lucro, comprometiéndose el usuario a no utilizarlos con fines comerciales.
                </p>
                <p>El propietario de la web no se responsabiliza sobre el contenido de los sitios de internet que se enlazan desde la web, ya que no tiene ningún tipo de control sobre dichos sitios y sus contenidos.
                </p>
                <p>El propietario de la web se reserva la facultad de efectuar, en cualquier momento y sin necesidad de preaviso alguno, cualquier modificación o actualización de los contenidos y servicios, de las condiciones generales y, en general, de
                    cuantos elementos integren el diseño y la configuración de su página web.
                </p>
                <p>
                    El propietario de la web no se responsabiliza de los fallos que pudieran ocurrir en el funcionamiento del sitio o servicios ofrecidos a causa de fuerza mayor o circunstancias accidentales sobrevenidas, en los supuestos de paradas de mantenimiento, o en
                    cualquier otro caso no imputable al propietario de la web. Tampoco se hace responsable por los daños que pudieran ocurrir causados por virus informáticos o programas maliciosos, cuya ausencia no se pueda garantizar, aunque se adoptaran
                    medidas técnicas.
                </p>
                <p>
                    El propietario de la web se reserva el derecho a denegar el acceso en caso de que se incumplan las condiciones del uso del servicio.
                </p>
            </div>


            <div class="divBox">
                <h2>Información personal que recogemos:</h2>
                <p>Cuando usted visita la página web https://gameandreschaparro.vercel.app/, recogemos automáticamente cierta información sobre su dispositivo, incluyendo información sobre su navegador web, dirección IP, zona horaria y algunas de las cookies
                    instaladas en su dispositivo. Además, mientras navega por el Sitio, recopilamos información sobre las páginas web individuales, qué sitios web o términos de búsqueda le han remitido al Sitio y cómo interactúa con él. Nos referimos
                    a esta información recopilada automáticamente como "Información del dispositivo". Además, es posible que recojamos los datos personales que nos proporcione (incluidos, entre otros, el correo electrónico, la edad, etc.) durante el registro
                    para poder cumplir el acuerdo.</p>
            </div>

            <div class="divBox">
                <h2>¿Por qué tratamos sus datos?</h2>
                <p>Nuestra máxima prioridad es la seguridad de los datos de los clientes y, por ello, sólo podemos procesar un mínimo de datos de los usuarios, únicamente en la medida en que sea absolutamente necesario para mantener el sitio web. La información
                    recopilada automáticamente sólo se utiliza para identificar posibles casos de abuso y establecer información estadística sobre el uso del sitio web. Esta información estadística no se agrega de forma que pueda identificar a ningún
                    usuario concreto del sistema.</p>

                <p>Usted puede visitar el sitio web sin decirnos quién es ni revelar ninguna información por la que alguien pueda identificarle como un individuo concreto e identificable. Sin embargo, si desea utilizar algunas de las funciones del sitio
                    web o proporcionar otros datos rellenando un formulario, es posible que nos proporcione datos personales, como su correo electrónico o edad. Puede optar por no facilitarnos sus datos personales, pero entonces es posible que no pueda
                    aprovechar algunas de las funciones del sitio web. Por ejemplo, no podrá participar en el estudio. Los usuarios que no estén seguros de qué información es obligatoria pueden ponerse en contacto con nosotros a través de tfgjuegomultitask@gmail.com.</p>
            </div>

            <div class="divBox">
                <h2>Sus derechos:</h2>
                <p> Si usted es residente europeo, tiene los siguientes derechos relacionados con sus datos personales:</p>
                <ul>
                    <li>Derecho a ser informado.</li>
                    <li>Derecho de acceso.</li>
                    <li>Derecho de rectificación.</li>
                    <li>Derecho de supresión.</li>
                    <li>Derecho a restringir el tratamiento.</li>
                    <li>Derecho a la portabilidad de los datos.</li>
                    <li>Derecho de oposición.</li>
                    <li> Derechos en relación con la toma de decisiones automatizada y la elaboración de perfiles.</li>
                    <li>Si desea ejercer este derecho, póngase en contacto con nosotros a través de los datos de contacto que figuran a continuación.</li>
                </ul>


                <p>Además, si es usted residente en Europa, le informamos de que estamos tratando su información para cumplir los contratos que podamos tener con usted</p>
            </div>

            <div class="divBox">
                <h2>Enlaces a otros sitios web:</h2>
                <p>Nuestro sitio web puede contener enlaces a otros sitios web que no son de nuestra propiedad ni están controlados por nosotros. Tenga en cuenta que no somos responsables de esos otros sitios web ni de las prácticas de privacidad de terceros.
                    Le recomendamos que esté atento cuando salga de nuestro sitio web y lea las declaraciones de privacidad de cada sitio web que pueda recoger información personal.</p>
            </div>

            <div class="divBox">
                <h2>Seguridad de la información:</h2>
                <p>Aseguramos la información que usted proporciona en servidores informáticos en un entorno controlado y seguro, protegido del acceso, uso o divulgación no autorizados. Mantenemos salvaguardas administrativas, técnicas y físicas razonables
                    para proteger contra el acceso, el uso, la modificación y la divulgación de datos personales no autorizados en su control y custodia. Sin embargo, no se puede garantizar la transmisión de datos a través de Internet o de una red inalámbrica.</p>
            </div>

            <div class="divBox">
                <h2>Divulgación legal:</h2>
                <p>Divulgaremos cualquier información que recopilemos, utilicemos o recibamos si lo exige o permite la ley, como por ejemplo para cumplir con una citación o un proceso legal similar, y cuando creamos de buena fe que la divulgación es necesaria
                    para proteger nuestros derechos, proteger su seguridad o la de otros, investigar un fraude o responder a una solicitud del gobierno.</p>
            </div>

            <div class="divBox">
                <h2>Información de contacto:</h2>
                <p>Si desea ponerse en contacto con nosotros para saber más sobre esta Política o desea ponerse en contacto con nosotros sobre cualquier asunto relacionado con los derechos individuales y su Información Personal, puede enviar un correo electrónico
                    a tfgjuegomultitask@gmail.com.</p>

            </div>


        </div>
    </div>
</div>