<div class="divSurvey">
    <div role="main" class="form-all" style="margin:0 auto;">
        <ul class="form-section page-section">
            <li id="cid_1" class="form-input-wide" data-type="control_head">
                <div class="form-header-group header-defecto">
                    <div class="header-text httal htvam">
                        <h2 id="header_1" class="form-header" data-component="header">Cuestionario post-partida</h2>
                    </div>
                </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_3">
                <label class="form-label form-label-top form-label-auto" id="label_3" for="input_3"> 
                    <script>
                        if(localStorage.getItem("username") != null && localStorage.getItem("username") != '' && localStorage.getItem("username") != undefined){
                            document.getElementById("label_3").textContent = localStorage.getItem("username");
                        }else{
                            window.location.href = 'index.html#login';
                            return;
                        }
                    </script>    
                </label>
            </li>
            <li class="form-line" data-type="control_matrix" id="id_13"><label class="form-label form-label-top" id="label_13" for="input_13"> ¿Cuál es su opinión sobre los siguientes aspectos del juego? </label>
                <div id="cid_13" class="form-input-wide">
                    <table summary="" aria-labelledby="label_13" cellpadding="4" cellspacing="0" class="form-matrix-table" data-component="matrix">
                        <tbody>
                            <tr class="form-matrix-tr form-matrix-header-tr">
                                <th class="form-matrix-th" style="border:none">&nbsp;</th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_0"><label id="label_13_col_0"> Totalmente desacuerdo </label></th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1"><label id="label_13_col_1"> En desacuerdo</label></th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_2"><label id="label_13_col_2"> Ni de acuerdo ni desacuerdo </label></th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_3"><label id="label_13_col_3"> De acuerdo </label></th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_4"><label id="label_13_col_4"> Totalmente de acuerdo </label></th>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_13 label_13_row_0">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_13_row_0"> Te ha gustado el juego  </label></th>
                                <td class="form-matrix-values"><input type="radio" id="input_13_0_0" class="form-radio" name="preguntas[0]" value="Malo" aria-labelledby="label_13_col_0 label_13_row_0"><label for="input_13_0_0" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_0_1" class="form-radio" name="preguntas[0]" value="Regular" aria-labelledby="label_13_col_1 label_13_row_0"><label for="input_13_0_1" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_0_2" class="form-radio" name="preguntas[0]" value="Bueno " aria-labelledby="label_13_col_2 label_13_row_0"><label for="input_13_0_2" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_0_3" class="form-radio" name="preguntas[0]" value="Muy Bueno" aria-labelledby="label_13_col_3 label_13_row_0"><label for="input_13_0_3" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_0_4" class="form-radio" name="preguntas[0]" value="Excelente" aria-labelledby="label_13_col_4 label_13_row_0"><label for="input_13_0_4" class="matrix-choice-label matrix-radio-label"> </label></td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_13 label_13_row_1">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_13_row_1">Jugarías diariamente a este juego  </label></th>
                                <td class="form-matrix-values"><input type="radio" id="input_13_1_0" class="form-radio" name="preguntas[1]" value="Malo" aria-labelledby="label_13_col_0 label_13_row_1"><label for="input_13_1_0" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_1_1" class="form-radio" name="preguntas[1]" value="Regular" aria-labelledby="label_13_col_1 label_13_row_1"><label for="input_13_1_1" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_1_2" class="form-radio" name="preguntas[1]" value="Bueno " aria-labelledby="label_13_col_2 label_13_row_1"><label for="input_13_1_2" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_1_3" class="form-radio" name="preguntas[1]" value="Muy Bueno" aria-labelledby="label_13_col_3 label_13_row_1"><label for="input_13_1_3" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_1_4" class="form-radio" name="preguntas[1]" value="Excelente" aria-labelledby="label_13_col_4 label_13_row_1"><label for="input_13_1_4" class="matrix-choice-label matrix-radio-label"> </label></td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_13 label_13_row_2">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_13_row_2"> Te resulta fácil mantener la concentración en el juego  </label></th>
                                <td class="form-matrix-values"><input type="radio" id="input_13_2_0" class="form-radio" name="preguntas[2]" value="Malo" aria-labelledby="label_13_col_0 label_13_row_2"><label for="input_13_2_0" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_2_1" class="form-radio" name="preguntas[2]" value="Regular" aria-labelledby="label_13_col_1 label_13_row_2"><label for="input_13_2_1" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_2_2" class="form-radio" name="preguntas[2]" value="Bueno " aria-labelledby="label_13_col_2 label_13_row_2"><label for="input_13_2_2" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_2_3" class="form-radio" name="preguntas[2]" value="Muy Bueno" aria-labelledby="label_13_col_3 label_13_row_2"><label for="input_13_2_3" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_2_4" class="form-radio" name="preguntas[2]" value="Excelente" aria-labelledby="label_13_col_4 label_13_row_2"><label for="input_13_2_4" class="matrix-choice-label matrix-radio-label"> </label></td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_13 label_13_row_3">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_13_row_3">Te ha gustado el apartado artístico del juego</label></th>
                                <td class="form-matrix-values"><input type="radio" id="input_13_3_0" class="form-radio" name="preguntas[3]" value="Malo" aria-labelledby="label_13_col_0 label_13_row_3"><label for="input_13_3_0" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_3_1" class="form-radio" name="preguntas[3]" value="Regular" aria-labelledby="label_13_col_1 label_13_row_3"><label for="input_13_3_1" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_3_2" class="form-radio" name="preguntas[3]" value="Bueno " aria-labelledby="label_13_col_2 label_13_row_3"><label for="input_13_3_2" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_3_3" class="form-radio" name="preguntas[3]" value="Muy Bueno" aria-labelledby="label_13_col_3 label_13_row_3"><label for="input_13_3_3" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_3_4" class="form-radio" name="preguntas[3]" value="Excelente" aria-labelledby="label_13_col_4 label_13_row_3"><label for="input_13_3_4" class="matrix-choice-label matrix-radio-label"> </label></td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_13 label_13_row_4">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_13_row_4"> Te resulta sencillo jugar al juego  </label></th>
                                <td class="form-matrix-values"><input type="radio" id="input_13_4_0" class="form-radio" name="preguntas[4]" value="Malo" aria-labelledby="label_13_col_0 label_13_row_4"><label for="input_13_4_0" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_4_1" class="form-radio" name="preguntas[4]" value="Regular" aria-labelledby="label_13_col_1 label_13_row_4"><label for="input_13_4_1" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_4_2" class="form-radio" name="preguntas[4]" value="Bueno " aria-labelledby="label_13_col_2 label_13_row_4"><label for="input_13_4_2" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_4_3" class="form-radio" name="preguntas[4]" value="Muy Bueno" aria-labelledby="label_13_col_3 label_13_row_4"><label for="input_13_4_3" class="matrix-choice-label matrix-radio-label"> </label></td>
                                <td class="form-matrix-values"><input type="radio" id="input_13_4_4" class="form-radio" name="preguntas[4]" value="Excelente" aria-labelledby="label_13_col_4 label_13_row_4"><label for="input_13_4_4" class="matrix-choice-label matrix-radio-label"> </label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li class="form-line" data-type="control_textarea" id="id_17"><label class="form-label form-label-top form-label-auto" id="label_17"> Puntúa del 1 al 10 las siguientes situaciones en relación a la dificultad, donde 1 significa que es fácil hasta el punto de que resulta aburrido y 10 que es tan difícil que resulta frustrante. Un 5 o un 6 representaría una dificultad equilibrada. </label>
            </li>
            <li class="form-line" data-type="control_textarea" id="id_17"><label class="form-label form-label-top form-label-auto form-label-player" id="label_17" for="input_18"> Jugando con 1 personaje simultáneo  </label>
                <div id="cid_17" class="form-input-wide">
                    <section id="OnePlayerDifficult" class="splide" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide" style="align-items:center ; ">1</li>
                                <li class="splide__slide" style="align-items:center ; ">2</li>
                                <li class="splide__slide" style="align-items:center ; ">3</li>
                                <li class="splide__slide" style="align-items:center ; ">4</li>
                                <li class="splide__slide" style="align-items:center ;">5</li>
                                <li class="splide__slide" style="align-items:center ; ">6</li>
                                <li class="splide__slide" style="align-items:center ; ">7</li>
                                <li class="splide__slide" style="align-items:center ; ">8</li>
                                <li class="splide__slide" style="align-items:center ; ">9</li>
                                <li class="splide__slide" style="align-items:center ; ">10</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </li>
            <li class="form-line" data-type="control_textarea" id="id_17"><label class="form-label form-label-top form-label-auto form-label-player" id="label_17" for="input_19"> Jugando con 2 personajes simultáneos   </label>
                <div id="cid_17" class="form-input-wide">
                    <section id="TwoPlayerDifficult" class="splide" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide" style="align-items:center ; ">1</li>
                                <li class="splide__slide" style="align-items:center ; ">2</li>
                                <li class="splide__slide" style="align-items:center ; ">3</li>
                                <li class="splide__slide" style="align-items:center ; ">4</li>
                                <li class="splide__slide" style="align-items:center ;">5</li>
                                <li class="splide__slide" style="align-items:center ; ">6</li>
                                <li class="splide__slide" style="align-items:center ; ">7</li>
                                <li class="splide__slide" style="align-items:center ; ">8</li>
                                <li class="splide__slide" style="align-items:center ; ">9</li>
                                <li class="splide__slide" style="align-items:center ; ">10</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </li>
            <li class="form-line" data-type="control_textarea" id="id_17"><label class="form-label form-label-top form-label-auto form-label-player" id="label_17" for="input_20"> Jugando con 3 personajes simultáneos   </label>
                <div id="cid_17" class="form-input-wide">
                    <section id="ThreePlayerDifficult" class="splide" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide" style="align-items:center ; ">1</li>
                                <li class="splide__slide" style="align-items:center ; ">2</li>
                                <li class="splide__slide" style="align-items:center ; ">3</li>
                                <li class="splide__slide" style="align-items:center ; ">4</li>
                                <li class="splide__slide" style="align-items:center ;">5</li>
                                <li class="splide__slide" style="align-items:center ; ">6</li>
                                <li class="splide__slide" style="align-items:center ; ">7</li>
                                <li class="splide__slide" style="align-items:center ; ">8</li>
                                <li class="splide__slide" style="align-items:center ; ">9</li>
                                <li class="splide__slide" style="align-items:center ; ">10</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </li>
            <li class="form-line" data-type="control_textarea" id="id_17"><label class="form-label form-label-top form-label-auto form-label-player" id="label_17" for="input_21"> Jugando con 4 personajes simultáneos  </label>
                <div id="cid_17" class="form-input-wide">
                    <section id="FourPlayerDifficult" class="splide" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide" style="align-items:center ; ">1</li>
                                <li class="splide__slide" style="align-items:center ; ">2</li>
                                <li class="splide__slide" style="align-items:center ; ">3</li>
                                <li class="splide__slide" style="align-items:center ; ">4</li>
                                <li class="splide__slide" style="align-items:center ;">5</li>
                                <li class="splide__slide" style="align-items:center ; ">6</li>
                                <li class="splide__slide" style="align-items:center ; ">7</li>
                                <li class="splide__slide" style="align-items:center ; ">8</li>
                                <li class="splide__slide" style="align-items:center ; ">9</li>
                                <li class="splide__slide" style="align-items:center ; ">10</li>

                            </ul>
                        </div>
                    </section>
                </div>
            </li>
            <li class="form-line" data-type="control_textarea" id="id_17"><label class="form-label form-label-top form-label-auto" id="label_17" for="input_17"> ¿Cómo mejorarías el juego?  </label>
                <div id="cid_17" class="form-input-wide"><textarea id="input_improvements" class="form-textarea" name="q17_tieneAlguna" cols="40" rows="6" data-component="textarea" aria-labelledby="label_17" style="    margin-left: 200px;"></textarea></div>
            </li>
            <li class="form-line" data-type="control_button" id="id_2">
                <div id="cid_2" class="form-input-wide">
                    <div style="margin-left:156px" data-align="auto" class="form-buttons-wrapper form-buttons-auto jsTest-button-wrapperField"><button id="btnSend" class="form-submit-button submit-button jf-form-buttons jsTest-submitField">Enviar</button></div>
                </div>
            </li>
        </ul>
        <div style="margin-bottom: 4%; font-size: 20px; margin-left: 4%;">
            <div id="message" style="color : blue">
            </div>
            <div id="error" style="color : red">
            </div>
        </div>
    </div>

</div>