<div class="divRanking">
    <div class="rankings">
        <div class="ranking" id="GlobalRank" style="margin: 0% 15%; margin-top: 20%;">
            <h2>Ranking Global</h2>
            <div class="rank" style="display: flex;justify-content: space-between;">
                <div style="flex: 1;">
                    <p class="pTabla">Usuario</p>
                    <ul class="ulGlobal" id="ulGlobalUsers">

                    </ul>
                </div>

                <div style="flex: 1;">
                    <p class="pTabla">Puntuación</p>
                    <ul class="ulGlobal" id="ulGlobalPoints">

                    </ul>
                </div>
            </div>

        </div>
        <div class="ranking" id="PersonalRank" style="margin-top: 20%;">
            <h2>Ranking Personal</h2>
            <div class="rank" style="flex: 1;">
                <p class="pTabla">Puntuación</p>
                <ul class="ulPersonal" id="ulPersonalPoints">

                </ul>
            </div>
        </div>
    </div>
</div>