<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>TFG</title>
    <link rel="shortcut icon" href="/phaser/tutorial/TFG/cliente/assets/logoAC.png">
    <link rel="stylesheet" href="/phaser/tutorial/TFG/cliente/styles/stylesRanking.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="ranking">
        <div id="GlobalRank" style="margin: 20% 20%;">
            <h1 style="margin-bottom:5% ; font-size: 40px;">Ranking Global</h1>
            <div class="rank" style="display: flex;justify-content: space-between;">
                <div style="flex: 1;">
                    <p class="pTabla">Usuario</p>
                    <ul class="ulGlobal" id="ulGlobalUsers">

                    </ul>
                </div>

                <div style="flex: 1;">
                    <p class="pTabla">Puntuacion</p>
                    <ul class="ulGlobal" id="ulGlobalPoints">

                    </ul>
                </div>
            </div>

        </div>
        <div id="PersonalRank" style="margin: 20% 20%;">
            <h1 style="margin-bottom:5% ; font-size: 40px;">Ranking Personal</h1>
            <div class="rank" style="flex: 1;margin-left: 20px;">
                <p class="pTabla">Puntuacion</p>
                <ul class="ulPersonal" id="ulPersonalPoints">

                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/phaser/tutorial/TFG/cliente/js/userController.js"></script>


</body>

</html>