<div class="divRegister" style="position: absolute; left: 40%;">
    <div id="content" role="main">
        <div id="box-register">
            <h1>Creación de cuenta</h1>
            <div>
                <span>Usuario:</span><br>
                <input id="tbUsuario" type="text" placeholder="Nombre de usuario" data-bind="value : userName"><br>
                <span>Correo electrónico:</span><br>
                <input id="tbEmail" type="email" placeholder="Correo electrónico" data-bind="value : email"><br>
                <span>Contraseña:</span><br>
                <input id="tbPwd" type="password" placeholder="Contraseña"> <br>
                <span>Repita la contraseña:</span><br>
                <input id="tbPwd2" type="password" placeholder="Repita contraseña"><br>

                <button id="btnCrearCuenta">Crear cuenta</button>
                <br><br><br>
                <div id="message" style="color : blue">
                </div>
                <div id="error" style="color : red">
                </div>
            </div>
        </div>
    </div>
</div>