.divSurvey {
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    margin-top: 9%;
    font-family: Arial, Helvetica, sans-serif;
}

.divSurvey,
.divSurvey html {
    touch-action: auto
}

.divSurvey .jfCardForm .jfProgress {
    bottom: 20px !important;
}

.divSurvey .jfCardForm .jfForm-backgroundOverlay,
.jfCardForm .jfForm-backgroundUnderlay {
    height: 100%;
}

.divSurvey .form-label-left {
    width: 150px;
}

.divSurvey .form-line {
    padding-top: 10px;
    padding-bottom: 10px;
}

.divSurvey .form-label-right {
    width: 150px;
}

.divSurvey .form-all {
    margin: 0px auto;
    padding-top: 0px;
    color: #555 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    max-width: 950px;
    width: 100%;
}

.divSurvey label {
    font-size: 20px;
}

.divSurvey .form-textbox {
    margin-left: 2%;
    font-size: 20px;
}

.divSurvey select {
    margin-left: 5%;
    font-size: 20px;
}

.divSurvey .form-label-player {
    min-width: 460px;
}


/* Injected CSS Code */


/*PREFERENCES STYLE*/

.divSurvey .form-all .qq-upload-button,
.divSurvey .form-all .form-submit-button,
.divSurvey .form-all .form-submit-reset,
.divSurvey .form-all .form-submit-print {
    font-family: Verdana, sans-serif;
}

.divSurvey .form-all .form-pagebreak-back-container,
.divSurvey .form-all .form-pagebreak-next-container {
    font-family: Verdana, sans-serif;
}

.divSurvey .form-header-group {
    font-family: Verdana, sans-serif;
}

.divSurvey .form-label {
    font-family: Verdana, sans-serif;
}

.divSurvey .form-label.form-label-auto {
    display: inline-block;
    float: left;
    text-align: left;
}

.divSurvey.form-line {
    margin-top: 10px;
    margin-bottom: 10px;
}

.divSurvey .form-label.form-label-left,
.divSurvey .form-label.form-label-right,
.divSurvey .form-label.form-label-left.form-label-auto,
.divSurvey .form-label.form-label-right.form-label-auto {
    width: 150px;
}

.divSurvey .form-all {
    font-size: 12px
}

.divSurvey .form-all .qq-upload-button,
.divSurvey .form-all .qq-upload-button,
.divSurvey .form-all .form-submit-button,
.divSurvey .form-all .form-submit-reset,
.divSurvey .form-all .form-submit-print {
    font-size: 12px
}

.divSurvey .form-all .form-pagebreak-back-container,
.divSurvey .form-all .form-pagebreak-next-container {
    font-size: 12px
}

.divSurvey .supernova .form-all,
.divSurvey .form-all {
    background-color: #5a5791;
}

.divSurvey .form-all {
    color: Black;
}

.divSurvey .form-header-group .form-header {
    color: Black;
}

.divSurvey .form-header-group .form-subHeader {
    color: Black;
}

.divSurvey .form-label-top,
.divSurvey .form-label-left,
.divSurvey .form-label-right,
.divSurvey .form-html,
.divSurvey .form-checkbox-item label,
.divSurvey .form-radio-item label {
    color: Black;
}

.divSurvey .form-sub-label {
    color: 1a1a25;
}

.divSurvey .supernova {
    background-color: undefined;
}

.divSurvey .supernova body {
    background: transparent;
}

.divSurvey .form-textbox,
.divSurvey .form-textarea,
.divSurvey .form-dropdown,
.divSurvey .form-radio-other-input,
.divSurvey .form-checkbox-other-input,
.divSurvey .form-captcha input,
.divSurvey .form-spinner input {
    background-color: undefined;
}

.divSurvey .supernova {
    background-image: none;
}

.divSurvey #stage {
    background-image: none;
}

.divSurvey .form-all {
    background-image: none;
}

.divSurvey .ie-8 .form-all:before {
    display: none;
}

.divSurvey .ie-8 {
    margin-top: auto;
    margin-top: initial;
}


/*PREFERENCES STYLE*/


/*__INSPECT_SEPERATOR__*/


/* Injected CSS Code */