.divRanking * {
    font-size: 104%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.divRanking .rankings {
    top: 63px;
    position: absolute;
    display: flex;
}

.divRanking {
    padding: 0;
    margin: 0;
    background-color: #305c94;
}

.tableRank {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tableRank td,
.tableRank th {
    padding: 8px;
}

.tableRank tr:nth-child(even) {
    background-color: #1e3554;
}

.tableRank tr:hover {
    background-color: #3e659e;
}

.tableRank th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #305c94;
    color: white;
}

@media (max-width: 865px) {
    .divRanking .ranking {
        display: block;
    }
}

@media (max-width: 783px) {
    .divRanking nav.horizontal {
        display: none;
    }
    .divRanking .hide {
        display: block;
    }
    .divRanking aside {
        width: 15%;
        margin-left: 10px;
    }
}

.divRanking p,
.divRanking footer,
.divRanking header,
.divRanking h2,
.divRanking h1 {
    user-select: none;
}

.divRanking h2 {
    border-radius: 10px 10px 0px 0px;
    border-color: #1e3554;
    font-size: 40px;
    text-align: center;
    background-color: #305c94;
    width: 100%;
}