.divIntro * {
    font-size: 106%;
    margin: 0;
    padding: 0;
}

.divIntro input {
    margin-bottom: 10px;
}

.divIntro #Introduccion {
    top: 63px;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.divIntro {
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

.divIntro p,
.divIntro footer,
.divIntro header,
.divIntro h2,
.divIntro h1 {
    user-select: none;
}

.divIntro h1 {
    font-size: 40px;
}

.divIntro p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.divIntro h2 {
    font-size: 30px;
}