.divRegister * {
    font-size: 107%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.divRegister h1 {
    font-size: 160%;
    margin-bottom: 5%;
}

.divRegister {
    padding: 0;
    margin: 0;
    background-color: #182840;
}

.divRegister #content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 75vh;
}

.divRegister input {
    margin-bottom: 5%;
    margin-top: 5%;
    color: black;
}

.divRegister #btnCrearCuenta {
    margin-top: 20px;
    float: right;
}

.divRegister p,
.divRegister footer,
.divRegister header,
.divRegister h2 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.divRegister .borderRegister {
    padding: 10%;
    margin-top: 20%;
    border-radius: 20%;
    border: solid;
    background: #1e3554;
    border-color: #1e3554;
    /*background: linear-gradient(221deg, rgba(90, 87, 145, 1) 0%, rgba(44, 44, 154, 1) 35%, rgba(0, 155, 255, 1) 100%);*/
}

.divRegister .divInput {
    padding: 3%;
    display: flex;
    border-radius: 15px 50px;
    background: linear-gradient(221deg, rgba(45, 61, 130, 1) 0%, rgba(79, 26, 135, 0.87718837535014) 35%, rgba(6, 40, 139, 1) 100%);
    margin-bottom: 3%;
    min-width: 102%;
}

.divRegister input:hover {
    background-color: dodgerblue;
}

.divRegister span {
    align-self: center;
    min-width: 130.25px;
    max-width: 130.25px;
}

.divRegister button {
    background: linear-gradient(221deg, rgba(45, 61, 130, 1) 0%, rgba(79, 26, 135, 0.87718837535014) 35%, rgba(6, 40, 139, 1) 100%);
    padding: 2%;
    border-radius: 5%;
}

.divRegister button:hover {
    background: dodgerblue;
}

.divRegister a:hover {
    color: darkorchid;
}