.divRegister * {
    font-size: 107%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.divRegister h1 {
    font-size: 160%;
    margin-bottom: 5%;
}

.divRegister {
    padding: 0;
    margin: 0;
    background-color: #182840;
    margin-top: 9%;
}

.divRegister #content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    /*height: 75vh;*/
}

.divRegister input {
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 1%;
    border-radius: 12px;
    border: none;
    background: #284770;
}

.divRegister #btnCrearCuenta {
    margin-top: 20px;
    float: right;
}

.divRegister h2,
.divRegister label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.divRegister .borderRegister {
    padding: 10%;
    border-radius: 24px;
    border: solid;
    background: #1e3554;
    border-color: #1e3554;
    max-width: 602px;
    /*background: linear-gradient(221deg, rgba(90, 87, 145, 1) 0%, rgba(44, 44, 154, 1) 35%, rgba(0, 155, 255, 1) 100%);*/
}

.divRegister .divInput {
    padding: 3%;
    display: flex;
    border-radius: 15px 50px;
    background: #182840;
    margin-bottom: 3%;
    min-width: 470px;
    max-width: 500px;
}

.divRegister input:hover {
    background-color: #3e659e;
}

.divRegister label {
    align-self: center;
    min-width: 130.25px;
    max-width: 130.25px;
}

.divRegister button {
    background: #182840;
    padding: 2%;
    border-radius: 16px;
}

.divRegister button:hover {
    background: #3e659e;
}

.divRegister a:hover {
    color: darkorchid;
}