body {
    position: absolute;
    width: 100%;
    min-height: 1000px;
    background-color: #182840;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow: auto;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

p,
footer,
header,
h2,
img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header nav {
    background: #38547a;
    overflow: hidden;
    width: 100%;
    height: 63px;
}

nav ul {
    list-style: none;
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

header nav ul li a {
    padding: 20px 30px;
    display: block;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

header nav ul li a:hover {
    background: #3e659e;
}

.divGame canvas {
    margin: 80px 20px;
    height: 600px;
    width: 1600px;
}

#liLogout {
    margin-right: 20%;
}

.divGame .horizontal {
    position: absolute;
    margin-left: 20px;
    top: 380px;
    border: none;
    /*border-left: 1px solid hsla(200, 10%, 50%, 100);*/
    height: 1px;
    width: 1600px;
    color: black;
    background-color: black;
}

.divGame .vertical {
    position: absolute;
    left: 820px;
    top: 80px;
    border: none;
    /*border-left: 1px solid hsla(200, 10%, 50%, 100);*/
    height: 600px;
    width: 1px;
    background-color: black;
    color: black;
}

.divGame .controlInGame {
    position: absolute;
    top: 700px;
    color: white;
    margin-left: 20px;
}

@media (max-width: 1120px) {
    #liLogout {
        margin-right: 10%;
    }
}

@media (max-width: 1510px) {
    #liLogout {
        margin-right: 10%;
    }
}

@media (max-width: 1370px) {
    #liLogout {
        margin-right: 0%;
    }
}

@media (max-width: 1650px) {
    .divGame canvas {
        margin: 80px 20px;
        height: calc(600px/1.2);
        width: calc(1600px/1.2);
    }
    .divGame .vertical {
        left: calc(820px/1.196);
        height: calc(600px/1.2);
    }
    .divGame .horizontal {
        top: calc(380px/1.15);
        width: calc(1600px/1.2);
    }
    .divGame .controlInGame {
        top: 600px;
    }
}

@media (max-width: 1390px) {
    .divGame canvas {
        margin: 80px 20px;
        height: calc(600px/1.4);
        width: calc(1600px/1.4);
    }
    .divGame .vertical {
        left: calc(820px/1.39);
        height: calc(600px/1.4);
    }
    .divGame .horizontal {
        top: calc(380px/1.292);
        width: calc(1600px/1.4);
    }
    .divGame .controlInGame {
        top: 550px;
    }
}

@media (max-width: 1190px) {
    .divGame canvas {
        margin: 80px 20px;
        height: calc(600px/1.6);
        width: calc(1600px/1.6);
    }
    .divGame .vertical {
        left: calc(820px/1.58);
        height: calc(600px/1.6);
    }
    .divGame .horizontal {
        top: calc(380px/1.43);
        width: calc(1600px/1.6);
    }
    .divGame .controlInGame {
        top: 470px;
    }
}