.divRanking * {
    font-size: 104%;
    margin: 0;
    padding: 0;
}

.divRanking input {
    margin-bottom: 10px;
}

.divRanking .ranking {
    top: 63px;
    position: absolute;
    display: flex;
}

.divRanking {
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

.divRanking .pTabla {
    background-color: #75ACEC;
    font-size: 30px;
}

.divRanking li {
    list-style: none;
}

.divRanking .liDiv {
    padding: 3%;
    border: solid 0.07cm;
    border-color: #75ACEC;
}

.divRanking .pFila {
    margin: 10px 10px;
    text-align: center;
}

.divRanking .rank {
    border: solid;
    border-radius: 10px;
    border-color: #75ACEC;
    width: fit-content;
}

@media (max-width: 865px) {
    .divRanking .ranking {
        display: block;
    }
}

@media (max-width: 783px) {
    .divRanking nav.horizontal {
        display: none;
    }
    .divRanking .hide {
        display: block;
    }
    .divRanking aside {
        width: 15%;
        margin-left: 10px;
    }
}

.divRanking p,
.divRanking footer,
.divRanking header,
.divRanking h2,
.divRanking h1 {
    user-select: none;
}