* {
    font-size: 104%;
    margin: 0;
    padding: 0;
}

input {
    margin-bottom: 10px;
}

.ranking {
    top: 63px;
    position: absolute;
    display: flex;
}

body {
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

.pTabla {
    background-color: #75ACEC;
    font-size: 30px;
}

li {
    list-style: none;
}

.liDiv {
    padding: 3%;
    border: solid 0.07cm;
    border-color: #75ACEC;
}

.pFila {
    margin: 10px 10px;
    text-align: center;
}

.rank {
    border: solid;
    border-radius: 10px;
    border-color: #75ACEC;
    width: fit-content;
}

@media (max-width: 865px) {
    .ranking {
        display: block;
    }
}

@media (max-width: 783px) {
    nav.horizontal {
        display: none;
    }
    .hide {
        display: block;
    }
    aside {
        width: 15%;
        margin-left: 10px;
    }
}

p,
footer,
header,
h2,
h1 {
    user-select: none;
}

header nav {
    background: #528fd5;
    overflow: hidden;
    width: 100%;
    height: 63px;
}

nav ul {
    list-style: none;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

header nav ul li a {
    padding: 20px 30px;
    display: block;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

header nav ul li a:hover {
    background: #75ACEC;
}